.container {
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(8, 100px);
    max-width: 2000px;
    max-height:4000px;
    margin: 2rem auto;
    width: 90%;
    height: 90%;
}
.gridItemOne{
    grid-column: 1/ span 8;
    background-color: lightpink;

}
.gridItemTwo{
    grid-column: 1/ span 4;
    grid-row: 2;
    background-color:darkred;
    color: white;
}
.gridItemThree {
    grid-column: 5/ span 4;
    grid-row: 2;
    background-color: darkred;
    color: white;
}
.gridItemFour {
    grid-column: 1/span 8;
    grid-row: 3/ span 6;
    /*background-color: black;*/
    color: white;
    background-image: url('junkyard_1698x600.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    
   
}
ul{
    color:white;
    text-decoration: none;
    list-style-type: none;
    display:flex;
    flex-direction:row;
    height:inherit;
    width:inherit;
    justify-content: space-around;
    align-content: center;
    

}
a {
    color: inherit;
    text-decoration: inherit
}.gridItemFour iframe{
     padding-right: 25px
 }
